.close,
.modal-body-left .gallery-images img,
.trigger {
    cursor: pointer
}

#brand,
.close {
    width: 64px;
    height: 64px
}

.projects img,
.wrapper {
    margin: 0 auto
}

#introduction,
.projects .title,
.projects h3,
footer {
    text-align: center
}

.big-cta,
.gallery-images img,
.icon-row a,
.projects .row-item a,
.projects img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

.modal,
.modal-open .overlay {
    position: fixed;
    top: 0;
    left: 0
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.big-cta,
.tag,
h1,
h2,
h3,
h4,
strong {
    font-weight: 700
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box
}

body {
    font-family: Heebo, sans-serif;
    line-height: 1.5;
    color: #1c1d1e;
    margin: 1em;
    background-color: #fff
}

a,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: #1c1d1e
}

.modal .tag,
.projects h3 {
    color: #2980b9
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Serif', serif;
    line-height: 1.2
}

.blue,
strong a {
    color: #2980b9 !important
}

h1 {
    font-size: 3em
}

h2 {
    font-size: 1.728em
}

h3 {
    font-size: 1.44em
}

h4 {
    font-size: 1.2em
}

.tag {
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 3px
}

h3 img {
    width: 52px;
    height: 52px
}

.clearfix::after,
.row::after {
    content: "";
    clear: both;
    display: table
}

.left,
.row>* {
    float: left
}

.right {
    float: right
}

.big-cta {
    border-radius: 4px;
    padding: 1em;
    background-color: #2980b9;
    color: #fff !important;
    margin-top: 1em
}

.disabled {
    background-color: #ddd;
    color: #1c1d1e !important
}

.icon-row {
    width: 500px;
    margin: 1.5em auto .5em
}

.icon-row a {
    float: left;
    width: 33.33%
}

.icon-row img {
    padding: 1em;
    width: 100%
}

.icon-row a:nth-of-type(3) img {
    padding: 1em 0 0 1em
}

.wrapper {
    max-width: 1920px;
    width: 100%
}

#introduction {
    padding: 2em 2em .5em;
    background-color: #f8f8fa
}

#introduction h1 {
    color: #2c3e50;
    margin-bottom: .75rem
}

.projects {
    padding: 2em
}

.projects .title::after {
    display: block;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #1c1d1e;
    margin: 1em auto
}

.projects .title {
    margin-top: .25em;
    margin-bottom: 1em
}

.projects .row {
    display: flex
}

.projects .row-item {
    width: 33.33333%;
    padding: 3em
}

.projects .dual-row .row-item {
    width: 50%;
}

.projects .row-item img {
    width: 100%;
    margin-bottom: 1.5em
}

.projects .row-item:hover {
    background-color: #f8f8fa
}

.projects .row-item h2 {
    margin: .25em 0;
    color: #2980b9
}

.projects .row .row-item:nth-of-type(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

.projects .dual-row .row-item:nth-of-type(2) {
    border-right: none;
}

.projects .row-divider {
    border-top: 1px solid #ddd
}

.projects .row-item .description {
    margin-top: 1em
}

.gallery-selected-image img,
.img-wrapper img {
    width: 100%
}

.gallery-selected-image iframe {
    width: 100%;
    height: 470.81px
}

.gallery-images img {
    width: 33.3333%;
    float: left;
    padding: 0 .25em
}

.modal,
.video iframe {
    display: none
}

.modal-open .overlay {
    background-color: #1c1d1e;
    opacity: .8;
    width: 100%;
    height: 100%
}

.modal {
    width: 100%;
    height: 100%;
    padding: 3em
}

.modal-body {
    height: 100%;
    overflow: auto;
    padding-top: 8em;
    padding-left: 2em;
    padding-bottom: 2em
}

.modal-body p {
    max-width: 600px;
    margin-bottom: .5em
}

.modal-inner {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 100%
}

.modal-body-left {
    width: 50%;
    border-right: 1px solid #ddd;
    padding-right: 2.5em
}

.img-wrapper {
    height: 156.92px;
    overflow: hidden;
    float: left;
    width: 33.333%
}

.modal-header .close {
    position: relative;
    top: -10px;
    right: -5px
}

.game-info,
.game-info .tag {
    margin-top: 2em
}

.game-info .tag:first-of-type {
    margin-top: none
}

.person {
    padding: 1em 1em .8em;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 1em
}

.person .tag {
    font-size: .8em
}

.modal-body-right {
    width: 50%;
    padding-left: 2.5em;
    padding-right: 3em
}

.modal-header {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 2em 0;
    border-bottom: 1px solid #ddd
}

.modal-body-right .tag {
    margin-top: 1.5em
}

.modal-body-right .tag:first-of-type {
    margin-top: 0
}

@media screen and (max-width:1000px) {
    .projects {
        padding: 1em
    }

    .modal,
    .projects .row-item {
        padding: 1.5em
    }
}

@media screen and (max-width:900px) {

    .modal-body .left,
    .modal-body .right {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border: none
    }

    .modal-body {
        padding-right: 2em;
        padding-top: 9em
    }

    .modal-body .left {
        margin-bottom: 1em
    }
}

@media screen and (max-width:850px) {
    body {
        font-size: 14px
    }

    #introduction h1 {
        font-size: 2rem
    }

    #introduction #brand {
        width: 50px;
        height: 50px
    }
}

@media screen and (max-width:750px) {
    .projects .row {
        flex-direction: column
    }

    .projects .row-item {
        width: 100% !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important
    }

    .projects .last {
        border-bottom: none !important
    }

    .row>* {
        float: none
    }
}

@media screen and (max-width:600px) {
    .modal-body {
        padding-left: 1em;
        padding-right: 1em
    }

    .modal-header {
        padding: 2em 1em 0
    }

    #introduction h1 {
        font-size: 1.5rem
    }

    .icon-row {
        width: 100%
    }
}